.cont {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;   
}

.box {
    width: 500px;
    height: fit-content;
    background-color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px; 
}

.inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    font-size: 20px;
}

.login {
    padding: 10px 20px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login:hover {
    background-color: rgb(4, 4, 179);
}

.login:active {
    background-color: rgb(4, 4, 137);
}

.otherOptions {
    display: flex;
    gap: 30px;
}

.otherOptions img {
    width: 30px;
    cursor: pointer;
}

.link {
    all: unset;
    cursor: pointer;
    font-size: 20px;
    color: purple;
    text-decoration: underline;
}