.cont {
    width: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    border-right: 1px solid;
}

.cont div {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.cont div button {
    all: unset;
    font-size: 30px;
}

.cont h2 {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    width: 100%;
}

.cont p {
    font-size: 20px;
    cursor: pointer;
}

.cont p:hover {
    color: rgb(166, 166, 166);
}

.cont p:active {
    color: rgb(107, 107, 107);
}