.cont {
  width: 20%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border-right: 1px solid;
  gap: 10px;
}

.cont h2 {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  width: 100%;
}

.cont p {
  font-size: 20px;
  cursor: pointer;
}

.cont p:hover {
  color: rgb(166, 166, 166);
}

.cont p:active {
  color: rgb(107, 107, 107);
}


@media(max-width:700px) {
  .cont {
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 300px;
    padding: 10px;
  }

}