.cont {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 100px 100px 100px;
    text-align: center;
}

.cont img {
    all: unset;
    width: 500px;
    height: 500px;
}

.btns {
    display: flex;
    gap: 100px;
}

@media(max-width:600px) {
    .cont img {
        width: 200px;
        height: 200px;
    }

    .btns {
        flex-direction: column;
        gap: 50px;
    }
}